<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Horse Racing Simulator{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        <a href="{{ path('create_race') }}" value="Create Race"/>Here</a>
        {% if warning is defined %}
            {{warning}}
        {% else %}
            "Hello"
        {% endif %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
